* {
  font-family: "Poppins", sans-serif !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.active-icon {
  color: var(--color-1st);
}
